$navbar-background: #41B883;
$emphasis-text-color: #35495E;

body {
}
.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.navbar {
    border-radius: 0;
    background: $navbar-background !important;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
a {
    color: $emphasis-text-color;
}
