.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.navbar {
    border-radius: 0;
    background: #41B883 !important;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.text-green	{
    color: #41B883;
}
a {
    color: #35495E;
}
.nav-button-group {
    display: flex;
    flex-direction: column;
}
.btn-block a {
    display: block;
}
.nav-button-group .btn-block {
    margin-bottom: .25rem;
}
