<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <title>MyApp</title>
	{{ ifDebug | select: <script>{ '/js/hot-fileloader.js' | includeFile }</script> }}
</head>
<body>

    <div id="app"></div>

    <div id="footer" style="text-align:center; position:absolute; bottom:50px; width:100%;">
        <h4>
            <img src="<%=require('./src/assets/img/logo.png')%>" />
            <a href="https://servicestack.net/vs-templates/VueApp">Learn about this Vue VS.NET template</a>
        </h4>
        <div>Copyright &copy; {{ now | dateFormat('yyyy') }}</div>
    </div>
</body>
</html>
